<!DOCTYPE html>
<html>
<head>
    <title>Edit student</title>
</head>
<body>
    <h1>Edit a student</h1>
    <form action="/edit/{{student.id}}" method="post">

        <label for="name">Name : </label>
        <input id="name" type="text" name="name" value="{{student.name}}" placeholder="Enter name..." required />
        <br />
        <br />

        <label for="age">Age</label>
        <input id="age" type="number" name="age" value="{{student.age}}"/>
        <br />
        <br />

        <input type="submit" value="Submit" />
    </form>

    <a href="/"> < Back To student List</a>
</body>
</html>